.community-page-container {
    background-color: #f8f9fa;
    padding: 2em;
    text-align: center;
  }
  
  .community-page-title {
    margin-bottom: 2em;
    font-size: 2em;
  }
  
.community-page-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 cards in a row */
  gap: 1em;
  justify-items: center;
  width: 80%;
  margin: auto;
}

  .app-card {
    background-color: #fff;
    width: 200px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
    animation: fadeIn 2s; 
  }
  
  .app-card:hover {
    transform: scale(1.05);
  }
  
  .app-card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 0.8;
    transition: filter 0.3s ease;
  }
  
  .app-card:hover .app-card-image {
    filter: blur(3px);
  }
  
  .app-card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 10px;
    text-align: center; /* Center text horizontally */
    transition: bottom 0.3s ease;
    font-size: 16px;
    line-height: 1.5;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
  
.app-card-title {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0; /* Stretch across the parent element */
    transition: bottom 0.3s ease;
    text-align: center; /* Center text horizontally */
    letter-spacing: 0.03em;
}
  
.app-card-description {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; /* Stretch across the parent element */
    transition: opacity 0.3s ease, bottom 0.3s ease;
    text-align: center; /* Center text horizontally */
    font-size: 14px;
}

  
  .app-card:hover .app-card-info {
    bottom: 10%;
  }
  
  .app-card:hover .app-card-title {
    bottom: 30px !important;  /* Moves to the middle */
  }
  
  .app-card:hover .app-card-description {
    opacity: 1;
    bottom: 10px;
  }

  
  .community-guide {
    font-size: 1.1rem;
    color: #555555c4;
    animation: fadeIn 1.5s; 
  }

  .community-container{
    padding-bottom: 50px;
  }
  

  .community-title {
    text-align: center;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 3em;
     letter-spacing: 1px;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
     background: -webkit-linear-gradient(45deg, rgba(128,0,128,1), rgba(0, 204, 255, 0.399));
     -webkit-background-clip: text;
     color: transparent;

     animation: fadeIn 1.3s;
     
   }